@font-face{
  font-family:'ZodiacNotesRegular';
  src: url(https://assets.codepen.io/5651481/ZodiacNotesRegular-KqxW.ttf)
}

@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text&display=swap');



* {
  margin: 0;
  padding: 0;
}

body {
 background-color:#DDD9D9;
 padding: 0;
 margin: 0;
}



header {
  background-image: url(images/Hero.png);
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
 }



nav {
  background:#691111;
  align-items: center;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;  
display: flex;
justify-content:center;
padding: 20px;
}


.logo img{

  height: 80px;
}

ul{

  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}


li a {
  text-decoration:none;
  color:black;
  padding: 15px;
  font-size: 1.5em;
  color: white;
margin: 0 10px;
}
li a:hover {
  background:#B90606;
}

.zodiac{
    font-family:ZodiacNotesRegular;
   display:flex;
  align-items: center;
  justify-content: center;
  background:#DDD9D9;
  margin: 7rem;
  text-align:left;
  line-height: 2.0;
  
}

.zodiac p{

  max-width:500px;

  
}

.zodiac img {
  margin-right: 14px;
}


p { 
  font-family: 'STIX Two Text', serif;
  line-height: 1.5;
  
}

.flex-section {
  display: flex;
  justify-content: center;
}

.cipher-sect {
   background-image:url("images/Transpearent\ Cipher\ 3.jpg");
  background-size: cover;
  
}
.cipher {
  width: 250px;
  margin: 10px;
  padding: 15px;
  text-align: center;
  background: rgba(0,0,0,.1);
   
  
}

.cipher h1{

  font-size: 20px;
}

.cipher img {
  width: 100%;
  object-fit: contain;
  
}

h1 {
  font-family:ZodiacNotesRegular;
  text-align: center;

  font-size: 30px;
}

h2 {
  margin-bottom: 1em;
}

/* Timeline */

.timeline {
   background-image:url("images/Transpearent\ Cipher\ 3.jpg");
  background-size: cover;
  
}

button{
 background:#691111;
  border: none;
  color: white;
  padding: 10px;
  width: 200 px;
  border-radius: 30px;
}

button:hover{
  background:#B90606;
}

.suspects {
   background-image:url("images/Transpearent\ Cipher\ 3.jpg");
  background-size: cover;
  
}

.zodiac-video {
  width: 100%;
  height: 0;
  position: relative;
  padding-top: 56.25%; /* 9 / 16 * 100 */
}
.zodiac-video > iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
}

.article-image {
  width: 80%;
  height: 70vh;
  margin: 10px auto;
  background: url("images/Zodiac Killer Newspaper Headline.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.articles h1{

  font-size: 30px;
}

.article-image img {
  width: 100%;
  object-fit: cover;
}

.articles{
  background-image:url("images/Transpearent\ Cipher\ 3.jpg");
  background-size: cover;

}

.articles p {
  width: 80%;
  margin: 0 auto;
  padding: 15px;
} 

.video{
  background-image:url("images/Transpearent\ Cipher\ 3.jpg");
  background-size: cover;
}

.video h1{
  font-size: 30px;
}

.video p {
  width: 80%;
  margin: 0 auto;
  padding: 15px;
} 

footer {
  background:#691111;
  height: 10px;
  text-align: center;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

footer p {
  color: white;
}

.caution-image{

  width: 80%;
  background-image:url("images/Transpearent\ Cipher\ 3.jpg");
  background-size: cover;
  
  
}

.caution-image img{

  width: 100;
  

}